Host gsrouter
  User ubnt

Host github.com
  User Killroy1971
  Hostname github.com
  IdentityFile ~/.ssh/id_rsa

Host *.gshome.lan
  User glenn
  IdentityFile ~/.ssh/id_rsa

Host *.compute-1.amazonaws.com
  IdentityFile ~/Dropbox/AWS_Keys/gsprime.pem

# DI2E Project

Host bitbucket.di2e.net
  IdentityFile ~/.ssh/redhat.pem

Host *.docp-gw1a
  User ec2-user
  IdentityFile ~/.ssh/redhat.pem

Host *.aws-openshift.di2e.net
  User ec2-user
  Identityfile ~/.ssh/redhat.pem

Host di2e-bastion
  User glenn.snead
  Hostname bastion-docp.di2e.net
  IdentityFile ~/.ssh/redhat.pem
  ForwardAgent = yes

Host fedora-local
  User glenn
  Hostname 10.12.128.201
  IdentityFile ~/.ssh/id_rsa

Host ocp-proxy
  Hostname prxy1-docp-gw1a.aws-openshift.di2e.net
  User glenn.snead

