packages: [
  "asciidoc-preview"
  "atom-beautify"
  "atom-cform"
  "auto-detect-indentation"
  "autoclose-html"
  "autocomplete-ansible"
  "autocomplete-bash-builtins"
  "bottom-dock"
  "busy-signal"
  "highlight-selected"
  "language-ansible"
  "minimap"
  "minimap-highlight-selected"
  "monokai"
  "package-sync"
  "seti-ui"
  "todo-show"
  "vim-mode-plus"
  "vim-modeline"
]
